1813,Go,src/backend/cmd/chat/main.go
6140,Go,src/backend/internal/handlers/api/ai_chat.go
105,TypeScript,src/frontend/app/composables/useAiModels.ts
4842,Vuejs Component,src/frontend/app/pages/translator.vue
